In [5]:
import sqlite3
import pandas as pd
import os
import re
import matplotlib.pyplot as plt
import nltk
from sklearn import decomposition
from sklearn.feature_extraction.text import TfidfVectorizer
%matplotlib inline

In [6]:
db_name = 'customer_review_analysis.db'

query = """select name, rating, comment, timestamp_
            from reviews r 
            join users u 
            on r.id = u.id
        """

In [7]:
def connect_db(db_file):
    try:
        conn = sqlite3.connect(os.path.join(os.getcwd(), db_file))
        return conn
    except Exception as e:
        print (e)
    return None

In [8]:
# Read in the data from sqlite db
df = pd.read_sql(query, connect_db(db_name))
df.head()

,Name,Rating,Comment,Timestamp_
0,Krystof,5,"Great prices and customer service, shipping pr...","Friday, October 19, 2018 - 7:45:41 PM"
1,JACK,5,easy to find parts,"Friday, October 19, 2018 - 7:45:37 PM"
2,George,5,Excellent. The BEST in the business.,"Friday, October 19, 2018 - 7:35:03 PM"
3,jay,5,Just my latest order from B&H always satisfied...,"Friday, October 19, 2018 - 7:26:05 PM"
4,Chuck,5,"Easy, quick and great website. Found everythin...","Friday, October 19, 2018 - 6:46:44 PM"

In [32]:
from pprint import pprint
from collections import OrderedDict

# Monthly number of reviews for year 2018 so far
def monthly_count():
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    monthly_reviews = OrderedDict()
    for month in months:
        counts = df[df.Timestamp_.str.contains('.*?{}\s+\d+,\s+2018.*?'.format(month), case=False)].shape[0]
        monthly_reviews[month] = counts
    return monthly_reviews

ret = monthly_count()
pprint (ret)

OrderedDict([('January', 2073),
             ('February', 2040),
             ('March', 1943),
             ('April', 1797),
             ('May', 2199),
             ('June', 2140),
             ('July', 2136),
             ('August', 1960),
             ('September', 908),
             ('October', 920),
             ('November', 0),
             ('December', 0)])

## Tokenization and Stemming

In [13]:
# Import English Stopwords
stopwords = nltk.corpus.stopwords.words('english')

In [14]:
# Listify comments from dataframe
comments = df.Comment.tolist()
comments[:5]

['Great prices and customer service, shipping prices are either free or priced fairly.',
 'easy to find parts',
 'Excellent. The BEST in the business.',
 'Just my latest order from B&H always satisfied with products and service !',
 'Easy, quick and great website. Found everything I needed fast.']

In [15]:
len(comments)

19880

In [16]:
from nltk.stem.snowball import SnowballStemmer
stemmer = SnowballStemmer("english")

def tokenization(text):
    """tokenize sentences and words; filter out tokens not containing letters"""
    tokens = []
    for sentence in nltk.sent_tokenize(text):
        for word in nltk.word_tokenize(sentence):
            if word not in stopwords:
                tokens.append(word)
    filtered_tokens = []
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    return filtered_tokens

def tokenization_and_stemming(text):
    """tokenize and stem sentences and words"""
    tokens = [word.lower() for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent) if word not in stopwords]
    filtered_tokens = []
    for token in tokens:
        if re.search('[a-zA-Z]', token):
            filtered_tokens.append(token)
    stems = [stemmer.stem(t) for t in filtered_tokens]
    return stems

In [17]:
comments_stemmed = []
comments_tokenized = []

for c in comments:
    
    token_stem_res = tokenization_and_stemming(c)
    comments_stemmed.extend(token_stem_res)
    
    tokenized_res = tokenization(c)
    comments_tokenized.extend(tokenized_res)

In [18]:
stem_token_mapper = {comments_stemmed[i]:comments_tokenized[i] for i in range(len(comments_stemmed))}

In [19]:
len(stem_token_mapper)

6741

## TF-IDF

In [20]:
#define vectorizer parameters
tfidf_model = TfidfVectorizer(max_df=0.8, max_features=200000,
                                 min_df=0.2, stop_words='english',
                                 use_idf=True, tokenizer=tokenization_and_stemming, ngram_range=(1,1))

tfidf_matrix = tfidf_model.fit_transform(comments) #fit the vectorizer to comments

print ("In total, there are " + str(tfidf_matrix.shape[0]) + \
      " comments and " + str(tfidf_matrix.shape[1]) + " terms.")

In total, there are 19880 comments and 7 terms.

In [21]:
tf_selected_words = tfidf_model.get_feature_names()
tf_selected_words

['alway', 'b', 'easi', 'great', 'h', 'price', 'servic']

In [22]:
from sklearn.metrics.pairwise import cosine_similarity
cos_matrix = cosine_similarity(tfidf_matrix)
print (cos_matrix)

[[1.         0.         0.         ... 0.28129143 0.68354226 0.18743241]
 [0.         1.         0.         ... 0.         0.60546603 0.74565859]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.28129143 0.         0.         ... 1.         0.54105068 0.66632819]
 [0.68354226 0.60546603 0.         ... 0.54105068 1.         0.81198827]
 [0.18743241 0.74565859 0.         ... 0.66632819 0.81198827 1.        ]]